<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Host</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="shortcut icon" href="/assets/img/logo1.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <main>
        <div class="container">
            <div class="logo1">
                <img src="/static/img/logo.png" alt="logo" height="100px">
            </div>
            <nav id="menu-h">
                <ul>
                <li><a href="{{url_for('index')}}">Inicio</a></li>
                <li><a href="{{url_for('planos')}}">Planos</a></li>
                <li><a href="#">Sobre</a></li>
                <li><a href="{{url_for('login')}}">Entrar</a></li>
                </ul>
            </nav>
        </div>
    </main>
    <div class="container-nav1">
        <div class="container-nav">
            <h1><b>Lorem ipsum dolor sit</b></h1>
            <p class="paragrafo1">Lorem ipsum dolor sit</p>
            <p class="paragrafo2">Lorem ipsum dolor sit amet consectetur adipisicing elit. <br> Suscipit alias et,
                officia ducimus quidem at
                architecto sit <br> excepturi impedit assumenda sunt dolorum pariatur</p>
            <div class="bottoes">
                <button class="btn1"><strong>Lorem</strong></button>
                <button class="btn2"><strong>Lorem</strong></button>
            </div>
        </div>
        <div class="img-box">
            <img src="/assets/img/4611403.png">
        </div>
    </div>
    <footer>
        <div id="footer_content">
            <div id="footer_contacts">
                <h1>LOGO</h1>
                <p>It's all about your dreams.</p>

                <div id="footer_social_media">
                    <a href="#" class="footer-link" id="instagram">
                        <i class="fa-brands fa-instagram"></i>
                    </a>

                    <a href="#" class="footer-link" id="facebook">
                        <i class="fa-brands fa-facebook"></i>
                    </a>

                    <a href="#" class="footer-link" id="whatsapp">
                        <i class="fa-brands fa-whatsapp"></i>
                    </a>
                </div>
            </div>

            <ul class="footer-list">
                <li>
                    <h3>Blog</h3>
                </li>
                <li>
                    <a href="#" class="footer-link">Tech</a>
                </li>
                <li>
                    <a href="#" class="footer-link">Advertures</a>
                </li>
                <li>
                    <a href="#" class="footer-link">Music</a>
                </li>
            </ul>

            <ul class="footer-list">
                <li>
                    <h3>Products</h3>
                </li>
                <li>
                    <a href="#" class="footer-link">App</a>
                </li>
                <li>
                    <a href="#" class="footer-link">Desktop</a>
                </li>
                <li>
                    <a href="#" class="footer-link">Cloud</a>
                </li>
            </ul>
            <div id="footer_subscribe">
                <h3>Subscribe</h3>

                <p>
                    Enter your-email to get notified about
                    our news solutions
                </p>

                <div id="input-group">
                    <input type="email" id="email">
                    <button>
                        <i class="fa-regular fa-envelope"></i>
                    </button>
                </div>
            </div>
        </div>
        <div id="footer-copyright">
            &#169
            2024 all rights reserve
        </div>
    </footer>
</body>

</html>